CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_QSDK_Standard_64=y
CONFIG_TARGET_BOARD="ipq807x"
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_DEVEL=y
CONFIG_GIT_MIRROR="git://codeaurora.org/quic/qsdk/"
CONFIG_KERNEL_CC_STACKPROTECTOR_REGULAR=y
CONFIG_KERNEL_DIRECT_IO=y
CONFIG_KERNEL_DYNAMIC_DEBUG=y
CONFIG_KERNEL_NAMESPACES=y
CONFIG_KERNEL_PROFILING=y
# CONFIG_KERNEL_SWAP is not set
CONFIG_KERNEL_USER_NS=y
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk/"
CONFIG_PACKAGE_ntfsprogs_ntfs-3g=m
CONFIG_PACKAGE_tcpdump=m
CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_ROOTFS_TARGZ is not set
CONFIG_PACKAGE_mdump=m
